.venv
*.pyc
venv
*.pyc
staticfiles
.env
db.sqlite3
.DS_Store
env
static_all
stufff
node_modules*
/uploads
logic.log
local_settings.py
/db_dump
static/
vscode/
static_content/js/bundle.js.map
.vscode/settings.json
dump.rdb
celerybeat-schedule
launch.json
static_content/js/bundle.js
/logs
webpack-stats.json
static_content/main-*
templates/cached/
static_content/media/
