{% extends 'base_new.html' %}
{% load staticfiles %}


{% block head %}
    <title name="og:title" data-cms-content="title">Addiction Bazaar</title>
    <meta data-cms-attr="content:description" name="description" content="Addiction Bazaar" />
    <meta data-cms-attr="content:ogdescription" name="og:description" content="Addiction Bazaar">
    <meta name="image" itemprop="image" data-cms-attr="content:fullmetaimgurl" content="">
    <meta data-cms-attr="content:ogurl" name="og:url" content="https://www.addictionbazaar.com/">
    <meta name="og:site_name" content="Addiction Bazaar">
    <meta name="fb:app_id" content="1787057741532094">
    <meta name="og:type" content="website">
{% endblock %}

{% block content %}



<div id="header-menu"></div>
<div class="container-full">
	<div class="row">
		<div class="col-sm-12">
			<h1 data-cms-content="mainheading1" style="margin-top: 100px; font-size: 40px;text-align: center;">I wanna be </h1>
            <h1 data-cms-content="mainheading2" style="font-size: 40px;text-align: center;">#PLAIN and #SIMPLE</h1>
            <p data-cms-content="mainheading3" style="font-size: 40px;text-align: center;"></p>
		</div>
	</div>
</div>

<div>
    <dl>
        <dt data-cms-attr="style:dividerstyle1" data-cms-content="divider_text_1">#BLACK</dt>
        <div class="container-full color-section">
            <div class="row">
                <div class="col-sm-6 v-center">
                        <h1 data-cms-content="textcontent1"></h1>
                    <div class="buttons">
                        <a data-cms-attr="href:buttonlink1" class="btn blue" data-cms-content="buttontext1"></a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <img alt="" data-cms-attr="src:imagelink1|alt:imagealt1">
                </div>
            </div>
        </div>
    </dl>
    <dl>
        <dt data-cms-attr="style:dividerstyle2" data-cms-content="dividertext2">#BLACK</dt>
        <div class="container-full color-section">
            <div class="row">
                <div class="col-sm-6">
                    <img alt="" data-cms-attr="src:imagelink2|alt:imagealt2">
                </div>
                <div class="col-sm-6 v-center">
                        <h1 data-cms-content="textcontent2"></h1>
                    <div class="buttons">
                        <a data-cms-attr="href:buttonlink2" class="btn blue" data-cms-content="buttontext2"></a>
                    </div>
                </div>
            </div>
        </div>
    </dl>
    <dl>
        <dt data-cms-attr="style:dividerstyle3" data-cms-content="dividertext3">#BLACK</dt>
        <div class="container-full color-section">
            <div class="row">
                <div class="col-sm-6 v-center">
                        <h1 data-cms-content="textcontent3"></h1>
                    <div class="buttons">
                        <a data-cms-attr="href:buttonlink3" class="btn blue" data-cms-content="buttontext3"></a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <img alt="" data-cms-attr="src:imagelink3|alt:imagealt3">
                </div>
            </div>
        </div>
    </dl>

    <dl>
        <dt data-cms-attr="style:dividerstyle4" data-cms-content="dividertext4">#BLACK</dt>
        <div class="container-full color-section">
            <div class="row">
                <div class="col-sm-6">
                    <img alt="" data-cms-attr="src:imagelink4|alt:imagealt4">
                </div>
                <div class="col-sm-6 v-center">
                        <h1 data-cms-content="textcontent4"></h1>
                    <div class="buttons">
                        <a data-cms-attr="href:buttonlink4" class="btn blue" data-cms-content="buttontext4"></a>
                    </div>
                </div>
            </div>
        </div>
    </dl>
    <dl>
        <dt data-cms-attr="style:dividerstyle5" data-cms-content="dividertext5">#BLACK</dt>
        <div class="container-full color-section">
            <div class="row">
                <div class="col-sm-6 v-center">
                        <h1 data-cms-content="textcontent5"></h1>
                    <div class="buttons">
                        <a data-cms-attr="href:buttonlink5" class="btn blue" data-cms-content="buttontext5"></a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <img alt="" data-cms-attr="src:imagelink5|alt:imagealt5">
                </div>
            </div>
        </div>
    </dl>
    <dl>
        <dt data-cms-attr="style:dividerstyle6" data-cms-content="dividertext6">#BLACK</dt>
        <div class="container-full color-section">
            <div class="row">
                <div class="col-sm-6">
                    <img alt="" data-cms-attr="src:imagelink6|alt:imagealt6">
                </div>
                <div class="col-sm-6 v-center">
                        <h1 data-cms-content="textcontent6"></h1>
                    <div class="buttons">
                        <a data-cms-attr="href:buttonlink6" class="btn blue" data-cms-content="buttontext6"></a>
                    </div>
                </div>
            </div>
        </div>
    </dl>
    <dl>
        <dt data-cms-attr="style:dividerstyle7" data-cms-content="dividertext7">#BLACK</dt>
        <div class="container-full color-section">
            <div class="row">
                <div class="col-sm-6 v-center">
                        <h1 data-cms-content="textcontent7"></h1>
                    <div class="buttons">
                        <a data-cms-attr="href:buttonlink7" class="btn blue" data-cms-content="buttontext7"></a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <img alt="" data-cms-attr="src:imagelink7|alt:imagealt7">
                </div>
            </div>
        </div>
    </dl>

</div>


<div class="panel-group row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-cms-content="accordiontitle" data-toggle="collapse" href="#collapse1"></a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <ul class="list-group ">
            <div data-cms-content="md:accordionbody" class="pad-10"></div>
        </ul>
      </div>
    </div>
  </div>

<!--////////////////////////////////////Container-->
<script type="text/javascript">
	amplitude.getInstance().logEvent('VISIT_PLAIN_TSHIRT');
</script>
{% endblock %}