{% extends "base_new.html" %}
{% load staticfiles %}

{% block headContent %}
<!-- COMMON TAGS -->
<meta charset="utf-8">
<title>Addiction Bazaar</title>
<!-- Search Engine -->
<meta name="description" content="Diwali Offers">
<meta name="image" content="https://www.addictionbazaar.com/uploads/homepage/2017-10-17170445925824.jpg">
<!-- Schema.org for Google -->
<meta itemprop="name" content="Addiction Bazaar">
<meta itemprop="description" content="Diwali Offers">
<meta itemprop="image" content="https://www.addictionbazaar.com/uploads/homepage/2017-10-17170445925824.jpg">
<!-- Open Graph general (Facebook, Pinterest & Google+) -->
<meta name="og:title" content="Addiction Bazaar">
<meta name="og:description" content="Diwali Offers">
<meta name="og:image" content="https://www.addictionbazaar.com/uploads/homepage/2017-10-17170445925824.jpg">
<meta name="og:url" content="https://www.addictionbazaar.com/">
<meta name="og:site_name" content="Addiction Bazaar">
<meta name="fb:app_id" content="1787057741532094">
<meta name="og:type" content="website">

<link rel="stylesheet" href="{% static 'css/swiper.css' %}">
{% endblock %}

{% block content %}


<div id="header-menu"></div>
<div class="container-full">
	<div class="row">
		<div class="col-sm-12">
			<h1 style="margin-top: 100px; font-size: 40px;text-align: center;">I wanna be </h1>
			<h1 style="font-size: 40px;text-align: center;">#PLAIN and #SIMPLE</h1>

		</div>
	</div>
</div>

<div>
  <dl>
    <dt style="background-color: #131416;">#BLACK</dt>
    <div class="container-full color-section">
		<div class="row">
			<div class="col-sm-6 v-center">
				<h1>Blue oblivion, largely lit, smiled and smiled at me.</h1>
				<div class="buttons">
					<a class="btn blue">Blue Button</a>
				</div>
			</div>
			<div class="col-sm-6">
				<img src="{% static 'img/product/black_plain_tshirt.png' %}">
			</div>
		</div>
	</div>
  </dl>
  <dl>
    <dt style="background-color: #b3b2ba;">#Light Grey</dt>
    <div class="container-full color-section">
		<div class="row v-center">
			<div class="col-sm-6">
				<img src="{% static 'img/product/light_grey_tshirt.png' %}">
			</div>
			<div class="col-sm-6">
				<h1>Blue oblivion, largely lit, smiled and smiled at me.</h1>
				<div class="buttons">
					<a class="btn blue">Blue Button</a>
				</div>
			</div>
		</div>
	</div>
  </dl>
  <dl>
    <dt style="background-color: #b52803;">#Orange</dt>
    <div class="container-full color-section">
		<div class="row v-center">
			<div class="col-sm-6">
				<h1>Blue oblivion, largely lit, smiled and smiled at me.</h1>
				<div class="buttons">
					<a class="btn blue">Blue Button</a>
				</div>
			</div>
			<div class="col-sm-6">
				<img src="{% static 'img/product/orange_plain_tshirt.png' %}">
			</div>
		</div>
	</div>
  </dl>
  <dl>
    <dt style="background-color: #fff;">#White</dt>
    <div class="container-full color-section">
		<div class="row v-center">
			<div class="col-sm-6">
				<img src="{% static 'img/product/white_plain_tshirt.png' %}">
			</div>
			<div class="col-sm-6">
				<h1>Blue oblivion, largely lit, smiled and smiled at me.</h1>
				<div class="buttons">
					<a class="btn blue">Blue Button</a>
				</div>
			</div>
		</div>
	</div>
  </dl>
  <dl>
  	<dt style="background-color: #4a515e;">#Dark Grey</dt>
  	<div class="container-full color-section">
		<div class="row v-center">
			<div class="col-sm-6">
				<h1>Blue oblivion, largely lit, smiled and smiled at me.</h1>
				<div class="buttons">
					<a class="btn blue">Blue Button</a>
				</div>
			</div>
			<div class="col-sm-6">
				<img src="{% static 'img/product/darkgrey_plain_tshirt.png' %}">
			</div>
		</div>
	</div>
  </dl>
  <dl>
  	<dt style="background-color: #97d0e5;">#Blue Strip</dt>
  	<div class="container-full color-section">
		<div class="row v-center">
			<div class="col-sm-6">
				<img src="{% static 'img/product/blue_strip_tshirt.png' %}">
			</div>
			<div class="col-sm-6">
				<h1>Blue oblivion, largely lit, smiled and smiled at me.</h1>
				<div class="buttons">
					<a class="btn blue">Blue Button</a>
				</div>
			</div>
		</div>
	</div>
  </dl>
  <dl>
  	<dt style="background-color: #11b7f5;">#Blue Plain</dt>
  	<div class="container-full color-section">
	<div class="row v-center">
		<div class="col-sm-6">
			<h1>Blue oblivion, largely lit, smiled and smiled at me.</h1>
			<div class="buttons">
				<a class="btn blue">Blue Button</a>
			</div>
		</div>
		<div class="col-sm-6">
			<img src="{% static 'img/product/blue_plain_tshirt.png' %}">
		</div>
	</div>
	</div>
  </dl>
</div>
<!--////////////////////////////////////Container-->
<script type="text/javascript">
	amplitude.getInstance().logEvent('VISIT_PLAIN_TSHIRT');
</script>
{% endblock %}
