{% extends "sellerbase.html" %}
{% load staticfiles %}
{% block content %}

<!--////////////////////////////////////Container-->



<section class="content-box"><!--Start Box-->

<div class="mui-container fix-len">
<div class="login-box center-block text-center">
    <h1> “Alone we can do so little; together we can do so much”  </h1>
    <h2><i> ― Helen Keller </i></h2>
    <h2> You are almost onboarded !!!</h2>
    <h3> Lets Start the Journey </h3>

    <h3> Thanks for Registering with us</h3>
    <h4>We will contact you very soon to guide you the further process</h4>
</div>
</div>
</section>





{% endblock %}