{% extends "sellerbase.html" %}
{% load staticfiles %}
{% block content %}



<!--////////////////////////////////////Container-->

<section class="content-box"><!--Start Box-->

<div class="mui-container fix-len">
<div class="mui-panel" style="width:500px;">

<form method=POST> {% csrf_token %}
  <legend>Set your Password</legend>
  <div class="mui-textfield">
    <input type="password" data-bind='value: password'>
    <label>Enter Password</label>
  </div>
  <div class="mui-textfield">
    <input type="password" name="password" data-bind='value: rePassword'>
    <label>Re Enter Password</label>
  </div>
  <span class="error" data-bind='visible: error, text:errorText'></span>
  <button type="submit" data-bind='click: register' 
    class="mui-btn mui-btn--raised">Submit</button>
</form>
</div>
</div>
</section>

<script type="text/javascript">
  function SellerViewModel(){
    var self= this;
    self.password = ko.observable();
    self.rePassword = ko.observable();
    self.error = ko.observable(false);
    self.errorText = ko.observable("Password doesn't match")
    self.redirect = function(){
    }
    self.register = function(){
      if (self.password()!= "" && self.password()===self.rePassword()){
         $.post(
          "/createseller/",
         {'csrfmiddlewaretoken' : "{{csrf_token}}", 'password': self.password()}, 
         function (result) {
            if (result.success) {
               window.location='/login/';
            } else {
              console.log("some error occured");
            }
         });
      }
      else{
        self.error(true);
      }
    }
  }
ko.applyBindings(new SellerViewModel());
</script>
	{% endblock %}