<style>
 
</style>
<div class="about">
    <h2><b>Who we are</b></h2>
        <p>We, the three fellows who were addicted to put innovation in their work; came together to build up a team of alike personnel by searching for similar people across the land and soon it became a big team of <a href="addictionbazaar.com/">AddictionBazaar</a>. We had in our mind to start something where we could employ our own creativities in an innovating way without holding back our passion. The team started serving fashion with its own designs and the perseverance of team members helped to move us so far in your service. We are determined to provide you the choice of colours and designs for a range of best quality apparels. <a href="addictionbazaar.com/">AddictionBazaar</a> offers its customers a transparent cost breakdown at each stage to make them ensure about what they are paying for.</p>
    <h2><b>Our Products</b></h2>
        <p><a href="addictionbazaar.com/">AddictionBazaar</a> offers you<a href="/tshirt/"> T-Shirts, T-Shirt dresses, Hoodies, Crop-tops; Sweat shirts, Polo t-shirts and various other outfits with imprinted designs on them.</a> These designs are created by <a href="/artist/all/">professional designers and artists</a> of our team. You can also get your product <a href="/customize-tshirt/">customized</a> by your choice. We can lay down your design idea on some more products as mobile coves, cushions, totes etc. as per your demand. All kinds of printing e.g. screen printing, digital printing, rubber printing and silicon printing etc. can be found on our products.</p>
    <h2><b>Why Addiction Bazaar?</b></h2>
        <p><a href="/customize-tshirt/">Customization</a> is our addiction. Why ours but <a href="/customize-tshirt/">customization</a> is the addiction of every creative and innovative soul on the earth. Such people cannot accept the things as it is unless the products are above their satisfactory level. For such innovative and creative people who do not believe in ‘just pick up anything that is available in market’, we are here with our team. Our team includes expertise from their own fields who altogether presents a wide variety of clothing collection that is different from others in various ways. What exactly makes us different can only be answered by you, our customers and we value you a lot!</p>
    <h2><b>Customize your own addiction</b></h2>
        <p>We not only offer you a wide range of choices in apparel but are also ready to <a href="/customize-tshirt/">create or design on your demand.</a> You may create your own artwork and tell us to provide you the readymade apparel with the same artwork imprinted upon. Don’t panic if you have idea in your mind but you can’t create artwork by yourself. In that case, our professional artists will help you out. You may connect to them, explain your ideas to them patiently and they will do the best in representing your idea in their artwork. Once you will be happy with the artwork, more happiness will come to you when the ready apparel will get delivered to you.</p>
    <h2><b>Order in Bulk</b></h2>
        <p><a href="addictionbazaar.com/">AddictionBazaar</a> is also capable of taking <a href="/buy-in-bulk/">bulk orders.</a> You are hosting a party and need theme <a href="/customize-tshirt/">t-shirts</a> for that, common dresses are required for some fun activity organized by HR department of your company or children need some customized dresses for cultural program of school. In any of such cases, you may connect to us and tell your requirements; we will provide you that <a href="/buy-in-bulk/">bulk supply</a> of ready to wear apparels. To keep you away from the confusion about what you can <a href="/buy-in-bulk/">order in bulk</a> and what not, we are providing this list for the reference.</p>  
    <div class="flex-container">
        <div class="a align-middle">T-shirt</div>
        <div class="a">Crop- tops</div>
        <div class="a">Patches</div>
        <div class="a">Embroided Patche</div>
        <div class="a">T-shirt dress</div>
        <div class="a">Shirts</div>
        <div class="a">Joggers</div>
        <div class="a">Premium caps</div>
        <div class="a">Promotional caps</div>
        <div class="a">Promotional tees</div>
        <div class="a">Ties</div>
        <div class="a">Badges</div>
        <div class="a">School dress</div>
        <div class="a">Sweaters</div>
        <div class="a">Hoodies</div>
        <div class="a">Sweatshirts</div>
        <div class="a">Pajamas</div>
        <div class="a">Shorts</div>
    </div>  

    <p>If you need any such <a href="/buy-in-bulk/">product in bulk</a> which is not enlisted above, you may enquire by <a href="/contact-us/">contacting us.</a></p>
</div>