<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<head>

	<!-- Basic Page Needs
    ================================================== -->
	<meta charset="utf-8">
	<link rel="shortcut icon" href="{% static 'myhome/images/favicon.ico' %}">
	<meta name="author" content="">
	<meta name="p:domain_verify" content="13b7de900455057a3eba1f1f6002a33c" />
	
	<!-- Mobile Specific Metas
    ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	

	<!-- CSS
    ================================================== -->
	<link rel="stylesheet" href="{% static 'myhome/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'myhome/css/zerogrid.css' %}">

	<link rel="stylesheet" href="{% static 'myhome/css/style.css' %}?v={{VERSION}}">

	<link rel="stylesheet" href="{% static 'css/style.css' %}?v={{VERSION}}">
	<link rel="stylesheet" href="{% static 'css/style_tab.css' %}?v={{VERSION}}">
	<link rel="stylesheet" href="{% static 'css/style_mobile.css' %}?v={{VERSION}}">

	<!-- <link rel="stylesheet" href="{% static 'myhome/css/responsivesl ides.css' %}"> -->
	<!-- Custom Fonts -->
	<link href="{% static 'myhome/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
	<script src="{% static 'myhome/js/jquery-latest.min.js' %}"></script>
	<script src="{% static 'myhome/js/script.js' %}"></script>
	<script src="{% static 'js/knockout-3.4.0.js' %}"></script>
	<script src="{% static 'myhome/js/responsiveslides.min.js' %}"></script>
	<script src="{% static 'myhome/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'myhome/js/jquery-scrolltofixed-min.js' %}"></script>
	<link href="{% static 'product/css/animate.css' %}" rel="stylesheet">
	<link href="{% static 'product/css/style.default.css' %}" rel="stylesheet" id="theme-stylesheet">
	<link href="{% static 'product/css/custom.css' %}" rel="stylesheet"> 
	<!-- Product Page Fonys -->
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
	{% block headContent %} 
	{% endblock %}
	<!-- new relic -->


	<!-- Google Tag Manager -->
	<!-- <script>(function (w, d, s, l, i) {
			w[l] = w[l] || []; w[l].push({
				'gtm.start':
					new Date().getTime(), event: 'gtm.js'
			}); var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
					'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-KXSPC5W');</script> -->
	<!-- End Google Tag Manager -->
	{% if not settings.DEBUG %}
	<script type="text/javascript">
		(function (e, t) {
			var n = e.amplitude || { _q: [], _iq: {} }; var r = t.createElement("script")
				; r.type = "text/javascript"; r.async = true
				; r.src = "https://cdn.amplitude.com/libs/amplitude-3.8.0-min.gz.js"
				; r.onload = function () {
					if (e.amplitude.runQueuedFunctions) {
						e.amplitude.runQueuedFunctions()
					} else {
						console.log("[Amplitude] Error: could not load SDK")
					}
				}
				; var i = t.getElementsByTagName("script")[0]; i.parentNode.insertBefore(r, i)
				; function s(e, t) {
					e.prototype[t] = function () {
						this._q.push([t].concat(Array.prototype.slice.call(arguments, 0))); return this
					}
				}
			var o = function () { this._q = []; return this }
				; var a = ["add", "append", "clearAll", "prepend", "set", "setOnce", "unset"]
				; for (var u = 0; u < a.length; u++) { s(o, a[u]) } n.Identify = o; var c = function () {
					this._q = []
						; return this
				}
				; var l = ["setProductId", "setQuantity", "setPrice", "setRevenueType", "setEventProperties"]
				; for (var p = 0; p < l.length; p++) { s(c, l[p]) } n.Revenue = c
				; var d = ["init", "logEvent", "logRevenue", "setUserId", "setUserProperties", "setOptOut", "setVersionName", "setDomain", "setDeviceId", "setGlobalUserProperties", "identify", "clearUserProperties", "setGroup", "logRevenueV2", "regenerateDeviceId", "logEventWithTimestamp", "logEventWithGroups", "setSessionId"]
				; function v(e) {
					function t(t) {
						e[t] = function () {
							e._q.push([t].concat(Array.prototype.slice.call(arguments, 0)))
						}
					}
					for (var n = 0; n < d.length; n++) { t(d[n]) }
				} v(n); n.getInstance = function (e) {
					e = (!e || e.length === 0 ? "$default_instance" : e).toLowerCase()
						; if (!n._iq.hasOwnProperty(e)) { n._iq[e] = { _q: [] }; v(n._iq[e]) } return n._iq[e]
				}
				; e.amplitude = n
		})(window, document);

		amplitude.getInstance().init("11222235b093969b440f38039f3eeabe");

	</script> 
	<!-- new TypingText(document.getElementById("typetext")); -->


	<!-- Begin Inspectlet Asynchronous Code -->
	<script type="text/javascript">
	(function() {
	window.__insp = window.__insp || [];
	__insp.push(['wid', 1913596058]);
	var ldinsp = function(){
	if(typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js?wid=1913596058&r=' + Math.floor(new Date().getTime()/3600000); var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
	setTimeout(ldinsp, 0);
	})();
	</script>
	<!-- End Inspectlet Asynchronous Code -->

	{% endif %} 
	{% block head %}

	{% endblock %} 
	{% block meta %} 
	{% endblock %} 
	{% block head_css %} 
	{% endblock %} 
	{% block head_js %} 
	{% endblock %}

</head>

<body style="overflow: auto !important;">
	<!-- Google Tag Manager (noscript) -->
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KXSPC5W" height="0" width="0" style="display:none;visibility:hidden"></iframe>
	</noscript>
	<!-- End Google Tag Manager (noscript) -->
	<script>
		(function (i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date(); a = s.createElement(o),
				m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
		})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-82397300-1', 'auto');
		ga('send', 'pageview');
		ga('set', 'userId', '{{request.user}}'); // Set the user ID using signed-in user_id.
	</script>
	<script>
		window.fbAsyncInit = function () {
			FB.init({
				appId: '1787057741532094',
				xfbml: true,
				version: 'v2.7'
			});
		};

		(function (d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) { return; }
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
	<!-- Facebook Pixel Code -->
	<script>
		!function (f, b, e, v, n, t, s) {
			if (f.fbq) return; n = f.fbq = function () {
				n.callMethod ?
					n.callMethod.apply(n, arguments) : n.queue.push(arguments)
			}; if (!f._fbq) f._fbq = n;
			n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0;
			t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s)
		}(window,
			document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
		fbq('init', '308519566169526');
		fbq('track', 'PageView');
	</script>
	<noscript>
		<img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=308519566169526&ev=PageView&noscript=1"
		/>
	</noscript>

	{% if developing %}
	<style type="text/css">
		html {
			height: 100%;
		}

		body {
			min-height: 100%;
		}

		@media only screen and (min-width: 1240px) {
			.bgimage {
				background: url({% static 'myhome/images/main.jpg' %}) no-repeat;
				background-size: 100%;
				height: 100%;
			}
			.mlogo {
				width: 30%;
			}
		}

		@media only screen and (max-width: 1240px) {
			.bgimage {
				background: url({% static 'myhome/images/main.jpg' %}) no-repeat;
				min-height: 100%;
				background-position: 55%;
			}
		}
	</style>
	<div class="bgimage">
		<article style="width:80%; background-color: rgba(14, 12, 12, 0.62);color:#fff; margin: 0 auto;top:20px;left: 20%;padding:20px;margin-left: 10%">
			<img class='mlogo' src="{% static 'myhome/images/logo-3.png' %}" />
			<br>
			<br>
			<br>
			<h3>Dear User, THANKS for Visiting</h3>

			<p>I am not well; my team is putting all their efforts to cure me.
				<p>

					<p>Your every word is like tonic for me. Please leave a message, it will help me to revive fast.</p>

					<h3>Who am I?</h3>
					<p>I, Addiction Bazaar, like you can think, can feel and can even talk except that I dont look like you. I can only cherish
						my fashion by looking at you. My team is trying to make me more intelligent so that I can give my opinion to you.</p>

					<h3>Who is my team ? </h3>
					<p>We are a few who have left their Jobs, wanted to do something sublime, something that we love and something that you
						love too.</p>
					<h5>PS : I don’t want to be a Company, please help me to be your friend.</h5>
		</article>
	</div>
	<script>
		var bkRawUrl = function () { return window.location.href }();
		(function (doc, scriptPath, apiKey) {
			var sc, node, today = new Date(), dd = today.getDate(), mm = today.getMonth() + 1, yyyy = today.getFullYear(); if (dd < 10) dd = '0' + dd; if (mm < 10) mm = '0' + mm; today = yyyy + mm + dd;
			window.BKShopApiKey = apiKey;
			window.BeeketingApiKey = '';
			sc = doc.createElement("script");
			sc.type = "text/javascript";
			sc.async = !0;
			sc.src = scriptPath + '?' + today;
			node = doc.getElementsByTagName("script")[0];
			node.parentNode.insertBefore(sc, node);
		})(document, 'https://sdk.beeketing.com/js/beeketing.js', '6550bbeebceed0cd0725441d4555a656');
	</script> {% else %}
	<!-- DO NOT MODIFY -->
	<!-- End Facebook Pixel Code -->
	<div class="wrap-body" id="main">

		<!--////////////////////////////////////Header-->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header login_modal_header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h2 class="modal-title" id="myModalLabel">Login to Your Account</h2>
					</div>
					<div class="modal-body login-modal">
						<p></p>
						<br/>
						<div class="clearfix"></div>
						<div>
							<div class='modal-body-left'>
								<form method="POST" id="login-user-header" data-bind="submit: loginUser">{% csrf_token %}
									<div class="form-group">
										<input type="text" id="username" placeholder="Enter Email/Mobile" data-bind='value: username' class="form-control login-field">
										<i class="fa fa-user login-field-icon"></i>
									</div>

									<div class="form-group">
										<input type="password" id="login-pass" placeholder="Password" data-bind='value: password' class="form-control login-field">
										<i class="fa fa-lock login-field-icon"></i>
									</div>
									<button href="#" type="submit" class="btn btn-success modal-login-btn">Login</button>
									<span class="error" data-bind='visible: error, text:errorText'></span>
								</form>
								<a href="#" class="login-link text-center">Lost your password?</a>
							</div>

							<div class='modal-body-right'>
								<div class="modal-social-icons">

								</div>
							</div>
							<div id='center-line'> OR </div>
						</div>
						<div class="clearfix"></div>

						<div class="form-group modal-register-btn">

						</div>
					</div>
					<div class="clearfix"></div>
					<div class="modal-footer login_modal_footer">
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="block-main">
		{% include "new_header.html" %}

		<div class="content-body">
			{% block content %} 
			{% endblock %}
		</div>
	</div>



	<script type="text/javascript">
		var user = '{{request.user}}';
		var csrf_token = "{{csrf_token}}";
		var staticPath = "http://" + window.location.host;
		var fixFilterCount = 0;
		function staticImage(path) {
			return window.location.origin + path;
		}

		window.onload = function() {
		  document.body.style.overflow = 'auto';
		};

	</script>

	<script src="{% static 'js/ab/productmain.js' %}?v={{VERSION}}"></script>
	<script src="{% static 'js/bundle.js' %}?v={{VERSION}}"></script>


	</div>
	{% include "footer.html" %}
	{% endif %}
	<script src="https://cdn.ravenjs.com/3.20.1/raven.min.js" crossorigin="anonymous"></script>
	<script>
		Raven.config('https://c12ebaf545af45a69b4879bfe08bbf55@sentry.io/127925', {
			whitelistUrls: ['addictionbazaar.com']
 	}).install();
    </script>
	<!--Start of Tawk.to Script-->
	<script type="text/javascript">
		var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
		(function () {
			var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
			s1.async = true;
			s1.src = 'https://embed.tawk.to/599f1d96b6e907673de096b4/default';
			s1.charset = 'UTF-8';
			s1.setAttribute('crossorigin', '*');
			s0.parentNode.insertBefore(s1, s0);
		})();
	</script>
	<!--End of Tawk.to Script-->
	<div id="fb-root"></div>
	<script>(function (d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=1787057741532094";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));

	// new TypingText(document.getElementById("typetext"));
    // TypingText.runAll();
	</script>
	<script type="application/ld+json">
		{
            "@context": "http://schema.org",
            "@type": "Organization",
            "url": "http://www.addictionbazaar.com",
            "logo": "https://www.addictionbazaar.com/static/img/mainlogobw.png",
            "sameAs": [
                "https://www.facebook.com/addictionbazaar", "https://instagram.com/addictionbazaar", "https://twitter.com/addictionbazaar1", "https://in.pinterest.com/addictionbazaar"
            ],
            "contactPoint": [
	            { "@type": "ContactPoint",
	                "telephone": "+91-9598602007",
	                "contactType": "customer service"
	            }
        	],
            "potentialAction": {
                "@type": "SearchAction",
                "target": "https://www.addictionbazaar.com/aura/product/search/?search={search_term_string}",
                "query-input": "required name=search_term_string"
            }
        }
	</script>
	{% ifequal view 'author' %}
	{% include 'cfblog_admin/toolbar.html' %}
	{% include 'cfblog_admin/script.html' %}
	{% endifequal%}
	{% block footer_js %}
	{% endblock %}
</body>

</html>