{% load staticfiles %}


<div id="fixed-header">
  <a class="top-std fl">Addiction Bazaar : We Serve the fashion</a>
  <a href="/blog/" class="top-std fr">Blog</a>
  <a href="/contact-us/" class="top-std fr">Contact Us</a>
  <a href="/bulk-order/" class="top-std fr">Bulk Order Query</a>
  <a href="/artist/home" class="top-std fr" target="_blank">Upload your ART</a>
  <a href="#" class="top-std fr">
    <i class="fa fa-whatsapp" style="margin:3px 5px;" aria-hidden="true"></i>9598602007</a>
  <a href="#" class="top-std fr">Free Shipping above ₹699</a>
</div>
<div id="sticky-anchor"></div>
<div class="header-main sticky">
  <div class="row1 fl">
    <a href='/' class="logo">
      <img src="{% static 'img/mainlogobw.png' %}" alt="logo - Addiction Bazaar" />
    </a>
    <div class="display-offer">
      <br/>
      <!-- <a class='offer-header' href="https://addictionbazaar.com/valentine-day-sale/"><h1>Happy Valentines Day </h1></a> -->
      <!-- newmsg -->
      <center>
        <a class='offer-header' href="https://addictionbazaar.com/tshirt/">

        </a>
      </center>
    </div>
  </div>
</div>