{% extends "base_new.html" %}
{% load staticfiles %}

{% block headContent %}

<title>Addiction Bazaar- Reset Password </title>

{% endblock %}

{% block content %}
<center>
{% if success %}

<table>
<form method="POST" action="/user/reset-password/submit/">{% csrf_token %}
    <h2>Enter New Password</h2>
    
    <input type="hidden" name="link" value="{{ link }}" />
    <tr><td><label for="password">Enter Password</label><input type="password" name = "password" id="password"/></td></tr>
    <tr><td><label for="password2">Enter Password Again</label><input type="password" name = "password2" id="password2" /></td></tr>
    <tr><td><span id='message'></span><br /></td></tr>
    <tr><td><input type="submit" value= "Change Password" id="submitBtn" /></td></tr>
</form>
</table>
{% else %}
<h2>Link Has Been Expired</h2>
<h2>Try Again</h2>
<div id="forget-password"></div>
{% endif %}
</center>
<script type="text/javascript" >
    $('#password, #password2').on('keyup', function () {
        if ($('#password').val() == $('#password2').val()) {
            $('#message').html('Matching').css('color', 'green');
            $('#submitBtn').removeAttr("disabled");
        } 
        else
        { 
            $('#message').html('Not Matching').css('color', 'red');
            $('#submitBtn').attr("disabled", "disabled");
        }
    });
    </script>
    <style>
            input[type=password], select {
                width: 100%;
                padding: 6px 10px;
                margin: 4px 0;
                display: inline-block;
                border: 2px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
            }
            
            input[type=submit] {
                width: 100%;
                background-color: #00AF9B;
                color: white;
                padding: 7px 10px;
                margin: 4px 0;
                border: none;
                border-radius: 2px;
                cursor: pointer;
            }
            
            input[type=submit]:hover {
                background-color: #07D3BB;
            }
            
            </style>
{% endblock %}
