{% load staticfiles %}
<header >
    <div class="wrap-header fullgrid" id="logobar" style="z-index:200;">
	    <div id="fixed-header">
    		<a class="top-std float-left">Addiction Bazaar - Save More Shop More</a>
    		<a class="top-std" href="http://seller.{{domain}}" target="_blank">Sell with us</a>
    		<a href="/blog" class="top-std">Blog</a>
		  </div>
      <div class="row1 fl">
        <a href='/' class="logo"><img src="{% static 'myhome/images/logo1.png' %}" /></a>
      </div>
    </div>
</header>